@font-face {
    font-family: "Pixel";
    src: url("assets/oyun.ttf");
    font-weight: normal;
    font-style: normal;
}

* {
    user-select: none;
    font-family: Pixel;
}

body {
    overflow: hidden;
    margin: 0;
}

[id ^= "background"] {
    position: absolute;
    top: 0;
    height: calc(100% - 135px);
    width: auto;
    z-index: -999;
    user-select: none;
}

#character {
    position: absolute;
    height: 200px;
    z-index: 999;
}

#primary.ground {
    position: absolute;
    background: url("assets/ground.png");
    background-size: auto 150px;
    height: 150px;
    width: 100%;
    left: 0;
    bottom: 0;
}

#secondary.ground {
    position: absolute;
    background: url("assets/ground.png");
    background-size: auto 150px;
    height: 150px;
    width: 100%;
    bottom: 0;
}

.scroll * {
    position: absolute;
}

#bullet-green, #bullet-red {
    bottom: 0;
    left: 0;
    position: absolute;
    height: 10px;
    width: 20px;
}

#bullet-green {
    background: limegreen;
}

#bullet-green::after {
    content: "";
    position: absolute;
    right: -5px;
    height: 10px;
    width: 10px;
    background: green;
}

#bullet-red {
    background: red;
}

#bullet-red::after {
    content: "";
    position: absolute;
    right: -5px;
    height: 10px;
    width: 10px;
    background: rgb(113, 10, 31);
}

#bullet-blue {
    display: none;
    position: absolute;
    background: white;
    border-top: 4.5px solid dodgerblue;
    border-bottom: 4.5px solid dodgerblue;
    height: 6px;
    width: 100%;
}

.super-load {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translatex(-50%);
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
}

.red-box {
    height: 45px;
    width: 45px;
    background: rgb(113, 10, 31);
    border: 3px solid red;
}

.green-box {
    height: 45px;
    width: 45px;
    background: green;
    border: 3px solid limegreen;
}

.blue-box {
    height: 60px;
    width: 60px;
    background: darkslateblue;
    border: 3px solid dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: white;
}

.red-box[filled] {
    background: red;
}

.green-box[filled] {
    background: limegreen;
}

.blue-box[filled] {
    background: dodgerblue;
}

#skool {
    position: absolute;
    height: 150px;
}

#wall2 {
    background: red;
}

#wall3 {
    display: none;
}

#wall3, #wall4, #wall5, #wall6, #wall7, #wall8, #wall9, #wall10, #wall11 {
    background: darkslategray;
}

[data-type=page] {
    cursor: pointer;
}

.monster .health {
    position: absolute;
    height: 20px;
    width: 100px;
    background: limegreen;
}

#health-bar {
    position: absolute;
    left: 50px;
    bottom: 20px;
    height: 100px;
    z-index: 1500;
}

.page {
    display: none;
    position: fixed;
    padding: 2rem;
    border: 5px solid darkslateblue;
    background: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 30%;
    transition: opacity .3s;
    opacity: 0;
    font-family: "Pixel";
    z-index: 1000;
}

.page#outta-dark {
    color: rgba(255, 255, 255, .01);
    background: black;
}

.game-over {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #000;
    font-family: "Pixel";
    z-index: 1001;
    text-align: center;
    padding: 5%;
}

.game-over .title {
    font-size: 50px;
    color: white;
}

.game-over .picture {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -45%);
}

.game-over .restart {
    color: white;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    cursor: pointer;
    animation: flip-flop 4s linear infinite;
}

.overlight {
    display: none;
    opacity: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: white;
    transition: opacity 1s;
    z-index: 1000;
}

.darken {
    display: none;
    background: rgba(0, 0, 0, .975);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    opacity: 0;
    transition: .5s;
}

.lighten {
    display: none;
    position: absolute;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    backdrop-filter: brightness(2000%);
    z-index: 1000;
}

.darken, .lighten {
    pointer-events: none;
}

.prompt {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 30px;
    background: white;
    height: 300px;
    width: 300px;
    padding: 20px;
    z-index: 3000;
}

.prompt input {
    background: none;
    border: none;
    border-bottom: 3px solid dodgerblue;
    width: 275px;
    font-size: 25px;
}

.prompt input:focus {
    outline: 0;
}

.prompt button {
    height: 40px;
    width: 125px;
    background: none;
    border: 3px solid dodgerblue;
    border-radius: 2px;
}

.prompt button:hover {
    color: white;
    background: dodgerblue;
    transition: .2s;
}

.prompt .close {
    color: gray;
    position: absolute;
    right: 10px;
    top: 10px;
    transition: .2s;
    cursor: pointer;
}

.prompt .close:hover {
    color: black;
}

.prompt h3#error {
    display: none;
    color: red;
    font-size: 15px;
}

.prompt h3#success {
    display: none;
    color: limegreen;
    font-size: 15px;
}

[data-type=button] {
    border-radius: 20px;
    background: crimson;
    border: 10px solid black;
    cursor: pointer;
}

[data-type=healer] {
    color: limegreen;
    font-size: 50px;
    padding: 0;
}

#typewrite, #blink {
    position: absolute;
    left: 50%;
    top: 25px;
    transform: translateX(-50%);
    z-index: 1500;
}

#typewrite {
    font-size: 30px;
}

#blink {
    font-size: 25px;
}

#antipoison {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: violet;
    border: 10px solid purple;
}

#main-menu {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 4000;
    background: black;
}

#main-menu #menu-background {
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
}

#main-menu [id $= -button] {
    height: 50px;
    width: 150px;
    cursor: pointer;
    transition: .2s;
}

#main-menu [id $= -button]:hover {
    scale: 1.02;
}

#main-menu #menu-play-button {
    position: absolute;
    left: 40%;
    top: 55%;
}

#main-menu #menu-credits-button {
    position: absolute;
    left: 40%;
    top: 65%;
}

.tap-for-music {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 40px;
    z-index: 5000;
    background: black;
}

.tap-for-music .text {
    color: white;
    position: absolute;
    cursor: pointer;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#frame-overlay {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: transparent;
    outline: black 500px;
    z-index: 6000;
}

.bullet-fill {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background: orange;
    z-index: 1500;
    position: absolute;
    right: 50px;
    bottom: 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes flip-flop {
    0% {
        opacity: 1;
    }
    12% {
        opacity: 0;
    }
    24% {
        opacity: 1;
        color: red;
    }
    36% {
        opacity: 0;
    }
    48% {
        opacity: 1;
        color: white;
    }
    60% {
        opacity: 0;
    }
    72% {
        opacity: 1;
        color: red;
    }
    84% {
        opacity: 0;
    }
    96% {
        opacity: 1;
        color: dodgerblue;
    }
}